
nav{
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.render a{
  color:white;
  text-decoration: none;
}
.render{
  display: flex;
  gap:20px;
}
.logo{
  font-weight:500;
  font-size:25px;
}

.homepage{
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
}
.searchbar{
  height:70px;
  display: flex;
  align-items: center;
  width:100%;
  justify-content: center;
  background-color: rgb(225, 228, 230);
}
.datadetail{
  padding:20px;
  width: 90vw;
}

.searchbar button{
  color:white;
  background-color: black;
  padding:2px;
  width:70px;
}
.searchbar input{
  padding:2px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}