
nav{
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.render a{
  color:white;
  text-decoration: none;
}
.render{
  display: flex;
  gap:20px;
}
.logo{
  font-weight:500;
  font-size:25px;
}

.homepage{
  display: flex;
  flex-direction: column;
  background-color:whitesmoke;
}
.searchbar{
  height:70px;
  display: flex;
  align-items: center;
  width:100%;
  justify-content: center;
  background-color: rgb(225, 228, 230);
}
.datadetail{
  padding:20px;
}

.searchbar button{
  color:white;
  background-color: black;
  padding:2px;
  width:70px;
}
.searchbar input{
  padding:2px;
}